@use '@angular/material' as mat;
@include mat.core();


// Define the dark theme.
$primary: mat.define-palette(mat.$purple-palette);
$accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);
$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);