# Morgan Stanley makes this available to you under the Apache License, Version 2.0 (the "License"). You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0. See the NOTICE file distributed with this work for additional information regarding copyright ownership. Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.

# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:

  # Dependabot doesn't support glob syntax. Every solution needs an entry

  - package-ecosystem: 'nuget'
    directories:
      - '/src/fdc3/dotnet/DesktopAgent/src/DesktopAgent'
      - '/src/messaging/dotnet/src/Client'
      - '/src/messaging/dotnet/src/Core'
      - '/src/messaging/dotnet/src/Host'
      - '/src/messaging/dotnet/src/Server'
      - '/src/shell/dotnet/Shell'
      - '/prototypes/multi-module-prototype/examples/multi-module-example/ModulesPrototype'
    schedule:
      interval: 'monthly'
    groups:
      infragistics:
        patterns:
          - 'Infragistics*'
      grpc:
        patterns:
          - 'Grpc*'
          - 'Google.Protobuf*'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      react:
        patterns:
          - 'react*'
      gatsby:
        patterns:
          - 'gatsby*'
      angular: # group all angular updates together
        patterns:
          - '@angular*'
        update-types: # group angular where highest version is minor or patch
          - 'minor'
          - 'patch'
      rollup: # group all rollup updates together
        patterns:
          - '@rollup*'
          - 'rollup*'
      testing: # group all dev testing updates together
        patterns:
          - '@types/jasmine'
          - 'jasmine*'
          - 'karma*'
    ignore:
      - dependency-name: '@angular*'
        update-types: ['version-update:semver-major']

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: 'monthly'
    groups:
      artifact-actions:
        patterns:
          - 'actions/*' # Upload/Download usually need to be updated together
