<!-- Morgan Stanley makes this available to you under the Apache License, Version 2.0 (the "License"). You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0. See the NOTICE file distributed with this work for additional information regarding copyright ownership. Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. -->
<div class="container">
    <h1>Trading App</h1>
    <div>
        <a>Quantity</a>
    </div>
    <div class="form">
        <button 
            mat-icon-button 
            aria-label="Remove" 
            [color]="getColor()" 
            (click)="incrementValue(-currentStep)" 
            [disabled]="shouldDisableDecrement(currentValue)">
            <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field apperance="outline">
          <input matInput #quantity type="number" [(ngModel)]="currentValue" (focus)="setColor('dark')" (blur)="setColor('dark')" />
        </mat-form-field>
        <button 
            mat-icon-button 
            aria-label="Add" 
            [color]="getColor()" 
            (click)="incrementValue(currentStep)" 
            [disabled]="shouldDisableIncrement(currentValue)">
            <mat-icon>add</mat-icon>
        </button> 
    </div>

    <div class="trader-container">
        <mat-form-field apperance="outline" class="nameInput">
            <input #nameInput matInput [(ngModel)]="trader" type="text" placeholder="Name of the trader" />
        </mat-form-field>
    </div>

    <mat-form-field class="tradeIdeaInput">
        <mat-label>Symbols</mat-label>
        <mat-select [formControl]="symbols">
            @for (symbol of symbolList; track symbol) {
                <mat-option [value]="symbol">
                    {{symbol}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button mat-button class="buyButton" cdkFocusInitial (click)="buySymbol()">Buy</button>
    <button mat-button class="sellButton" (click)="sellSymbol()">Sell</button>

    <div class="feedback">{{ feedback }}</div>
</div>