@font-face {
  font-family: 'ms_gloriola_ii_std_reg';
  src: url('https://www.morganstanley.com/etc.clientlibs/msdotcomr4/clientlibs/clientlib-site/webfonts/resources/ms_gloriola_ii_std_reg-webfont.woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ms_gloriola_ii_std_light';
  src: url('https://www.morganstanley.com/etc.clientlibs/msdotcomr4/clientlibs/clientlib-site/webfonts/resources/ms_gloriola_ii_std_light-webfont.woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ms_gloriola_ii_std_semibold';
  src: url('https://www.morganstanley.com/etc.clientlibs/msdotcomr4/clientlibs/clientlib-site/webfonts/resources/ms_gloriola_ii_std_semibold.ttf');
  font-style: normal;
  font-weight: 600;
}
