.footer-main ul {
  margin: 0;
  padding: 0;
}

.footer-main ul > li {
  display: inline-block;
  margin: 1rem;
}

.footer-main li {
  text-align: center;
  list-style: none;
}

.footer-main {
  text-align: center;
}
