.header-main {
  border-bottom: solid 1px var(--border-color);
  padding-top: 2.3rem;
}

.header-main .content {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.header-nav {
  flex-grow: 2;
  text-align: right;
}

.header-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0 0 10px 0;
  border-bottom: 5px solid var(--white-foundational-color);
}

.header-nav ul li.nav-link-current,
.header-nav ul li:hover {
  border-bottom: 5px solid var(--primary-foundational-color);
}

.header-nav ul li a {
  font-weight: 600;
  font-size: 20px;
  color: var(--black-foundational-color);
}

.header-nav ul li a:hover {
  text-decoration: none;
}

.header-nav ul li:last-of-type {
  margin-right: 0;
}
