.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1025px;
}

/* main body content */

.body-main {
  margin: 0;
  padding: 0 0 3rem 0;
}

.article-wrapper {
  margin: 0 0 3rem 0;
}

.article-wrapper h3 {
  border-left: 10px solid var(--primary-foundational-color);
  margin-left: -5px;
  padding-left: 20px;
}

.section {
  margin-top: 1rem;
  margin-bottom: var(--spacing-section);
}

.section > h3 {
  border-left: none;
  padding-left: 0;
  margin: 0;
}

.nav ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

.nav ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-main {
  padding-top: var(--spacing-section);
}

.page-main header {
  margin-bottom: var(--spacing-section);
}

.documentation-main {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.documentation-nav {
  margin-top: 1rem;
  flex-grow: 1;
  width: 30%;
}

.nav ul li.current > a {
  font-weight: bold;
}

.documentation-content {
  flex-grow: 2;
  width: 70%;
}

.documentation-content > h2,
.documentation-content > h3 {
  margin-top: var(--spacing-section);
}

.documentation-content > h4,
.documentation-content > h5 {
  margin-top: 2rem;
}

.documentation-content-nav ul {
  margin: 0 0 1rem 1rem;
}

.news-content {
  margin-bottom: var(--spacing-section);
}

.example-box {
  margin-top: 1rem;
  padding: 3rem;
  border: var(--border-color) solid 2px;
}

blockquote {
  font-family: var(--light-font);
  font-size: 30px;
  border-left: 10px solid var(--secondary-accent-color);
  padding: 3rem;
  margin-bottom: var(--spacing-section);
  border: solid 1px var(--secondary-accent-color);
}

/* Footer */

.footer-main {
  padding-top: 2rem;
  margin: 0;
  color: var(--tertiary-text-color);
  background: var(--secondary-bg-color);
  height: 15rem;
}

@container (min-height: 700px) {
  .footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .content {
    width: 95%;
  }

  .documentation-main,
  .documentation-content {
    display: block;
    width: 95%;
  }

  .documentation-nav {
    display: none;
  }
}

/* Gatsby Overrides */
.gatsby-highlight {
  margin-top: 2rem;
}
