html,
body {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.ac-container {
  height: auto;
  width: 500px;
}

.ac-textBlock {
  display: flex;
  width: fit-content !important;
  align-self: flex-start !important;
}

.ac-textBlock p {
  display: flex;
  width: fit-content !important;
}

div:has(button img) {
  flex-direction: row !important;
  justify-content: space-between !important;
}

.ac-pushButton:has(> img) {
  background-color: transparent;
  border: none;
}
