/* Morgan Stanley makes this available to you under the Apache License, Version 2.0 (the "License"). You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0. See the NOTICE file distributed with this work for additional information regarding copyright ownership. Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
@use "@angular/material" as mat;

// Light Theme
$light-theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$light-theme-accent: mat.m2-define-palette(mat.$m2-purple-palette, A200, A100, A400);
$light-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$light-theme: mat.m2-define-light-theme((color: (primary: $light-theme-primary,
        accent: $light-theme-accent,
        warn: $light-theme-warn,
      ),
      typography: mat.m2-define-typography-config(),
    ));

// Dark Theme
$dark-theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$dark-theme-accent: mat.m2-define-palette(mat.$m2-purple-palette, A200, A100, A400);
$dark-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$dark-theme: mat.m2-define-dark-theme((color: (primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn,
      ),
      typography: mat.m2-define-typography-config(),
    ));

// Dark theme variables
$dark-bg-color: #222;
$semi-dark-bg-color: #333;
$light-text-color: #cacaca;

// Light theme variables
$light-bg-color: #d2d2d2;
$semi-light-bg-color: #c0c0c0;
$dark-text-color: #333;


// Dark mode
.dark {
  @include mat.all-component-colors($dark-theme);
  background-color: $semi-dark-bg-color;
  color: $light-text-color;
}

// Light mode
.light {
  @include mat.all-component-themes($light-theme);
}