.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 