.app-container {
    height: 90%;
}  
.app-sidenav {
    width: 15em;
}
.app-sidenav-content {
    // display: flex;
    // height: 100%;
    // align-items: center;
    // justify-content: center;
    font-weight: 550;
} 

.toolbar-item-spacer {
    flex: 1 1 auto;
}
