<igx-navbar class="navigation-bar">
  <button igxButton="icon" type="icon" [disabled]="false" igxNavbarAction [igxToggleAction]="navigationDrawer">
    <igx-icon>menu</igx-icon>
  </button>
  <div igxNavbarTitle>Process Explorer</div>
</igx-navbar>
<div class="row-layout row">
  <igx-nav-drawer width="220px" [pin]="true" [pinThreshold]="1024" position="left" [isOpen]="true" #navigationDrawer class="navigation-drawer">
    <ng-template igxDrawer>
      <span [isHeader]="true" igxDrawerItem>
        <span class="navigation-drawer_1">Views in this app</span>
      </span>
      <span [isHeader]="false" igxDrawerItem routerLink="/master-view/processes">
        <igx-icon font="material" [active]="true">home</igx-icon>
        <span class="navigation-drawer_1">Processes</span>
      </span>
      <span [isHeader]="false" igxDrawerItem routerLink="/master-view/connections">
        <igx-icon font="material" [active]="true">dns</igx-icon>
        <span class="navigation-drawer_1">Connections</span>
      </span>
    </ng-template>
  </igx-nav-drawer>
  <div class="views-container">
    <router-outlet></router-outlet>
  </div>
</div>
<igx-list class="list">
  <igx-list-item [isHeader]="true" class="list-item"></igx-list-item>
  <igx-list-item class="list-item">
    <p igxListLineSubTitle>Check-boxes for selecting processes</p>
    <igx-icon font="material" [active]="false" igxListAction class="icon">star</igx-icon>
  </igx-list-item>
  <igx-list-item class="list-item">
    <p igxListLineSubTitle>env, container reg, conf are per proocess</p>
    <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
  </igx-list-item>
</igx-list>
