name: Dependency Submission

on:
  workflow_dispatch:

permissions: 
  contents: read

jobs:
  dependency-submission:
    permissions: 
      id-token: write
      contents: write
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]
        node-version: [ '24.x' ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build Components
        run: |
              npm i
              npx lerna run build --stream
              powershell ./build/dotnet-restore.ps1
              powershell ./build/dotnet-build.ps1
      - name: Component detection 
        uses: advanced-security/component-detection-dependency-submission-action@9c110eb34dee187cd9eca76a652b9f6a0ed22927 # v0.1.1
        with:
          detectorsFilter: "NuGetProjectCentric,Npm,NpmLockfile3"
